<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head >
</head>

<!--加载--->
<div class="loading-container" th:fragment="common_top_onLoad">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div><!--此注释用于消除‘display: inline-block;’布局下标签自动生成的空白边距，请勿删除
            --><div class="sk-rect2"></div><!--
            --><div class="sk-rect3"></div><!--
            --><div class="sk-rect4"></div><!--
            --><div class="sk-rect5"></div>


    </div>
</div>

<!-- 上面的导航栏 -->

    <!--导航-->
<div class="navbar navbar-inner" th:fragment="common_top">
        <div class="container-fluid">
            <div class="">
                <a class="navbar-header pull-left logo" th:href="@{/index}">
                    农村小额贷款
                </a>



                <ul class="nav navbar-nav navbar-right navbar-custom-menu">





                    <!--               消息提醒 结束        -->
                    <li class="dropdown messages-menu">
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img  th:src="@{/picture/{type}(type=${session.user.idCard})}"  style='height: 40px' class="user-img" > <span class="hedden-xs"> 欢迎您，<span class="loginUser" th:text="${session.user.name}" th:if="${session.role} == '0'" ></span></span></a>

                        <ul class="dropdown-menu user-box">
                            <li class="user-header">

                                <!--                            个人简介-->
                                <img th:src="@{/picture/{idcard} (idcard=${session.user.idCard})}" th:if="${session.role} == '0' " class="img-circle" height="90">

<!--                               页面显示 用户名 和 角色 -->
                                <p th:text="${session.user.name}" th:if="${session.role == '0'}"></p>
                                <small th:text="${session.user.role}" th:if="${session.role} != '0' "  ></small>



                            </li>
                            <li class="user-footer">

                                <div class="pull-left">
                                    <a class="btn btn-default" th:href="@{/aboutMe}">简介</a>
                                </div>

                                <div class="pull-right">
                                    <a class="btn btn-default btnLogout" id="logout" th:if="${session.role} == '0' ">退出</a>
                                    <a class="btn btn-default btnLogout" id="logout1" th:if="${session.role} != '0' ">退出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</div>


<!-- 侧边栏 -->
    <div class="page-sidebar" th:fragment="common_side">


    <!--          侧边栏  -->
    <ul class="nav sidebar-menu">
        <!--首页-->
        <li class="active">
            <a th:href="@{/index}" th:if="${session.role} !='0' ">
                <i class="glyphicon glyphicon-home menu-icon"></i>
                <span class="menu-text"> 首页 </span>
            </a>
        </li>
        <!--客户-->
        <li th:if="${session.role} != '0' ">
            <a th:href="@{/customer}" class="menu-dropdown">
                <i class="fa fa-edit menu-icon"></i>
                <span class="menu-text"> 客户管理 </span>
                <i class="fa fa-angle-left menu-expand"></i>
            </a>
        </li>
        <!--合同-->
        <li th:if="${session.role} != '0' ">
            <a  class="menu-dropdown">
                <i class="fa fa-table menu-icon"></i>
                <span class="menu-text">合同管理</span>
                <i class="fa fa-angle-left menu-expand"></i>
            </a>


            <ul class="submenu">
                <li>
                    <a th:href="@{/constractxuqi}">
                        <span class="menu-text">逾期</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/constractnoDate}">
                        <span class="menu-text">未到期合同</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/constractnoToday}">
                        <span class="menu-text">今天到期合同</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/constractnoshixiao}">
                        <span class="menu-text">已还款合同</span>
                    </a>
                </li>


            </ul>



        </li>


        <!--              贷款管理   -->
        <li th:if="${session.role} != '0' ">
            <a  class="menu-dropdown">
                <i class="fa fa-tree menu-icon"></i>
                <span class="menu-text">贷款管理</span>
                <i class="fa fa-angle-left menu-expand"></i>
            </a>

            <ul class="submenu">
                <!--                        <li>-->
                <!--                            <a href="../html/treeZtree.html">-->
                <!--                                <span class="menu-text">申请</span>-->
                <!--                            </a>-->
                <!--                        </li>-->
                <li>
                    <a th:href="@{/shenpi}">
                        <span class="menu-text">审批</span>
                    </a>
                </li>
            </ul>
        </li>



        <!--              管理员管理   -->
        <li th:if="${session.role} == '1'">
            <a th:href="@{/adminIndex}" class="menu-dropdown" style="padding-left:15px">
                <i class="glyphicon glyphicon-user"></i>
                <span class="menu-text" style="margin-left: 7px">管理员管理</span>
                <i class="fa fa-angle-left menu-expand"></i>
            </a>


        </li>





        <!--      用户界面  开始  -->
        <!--


                        我的业务-->
        <li th:if="${session.role} == '0' ">
            <a  class="menu-dropdown">
                <i class="fa fa-info-circle menu-icon" aria-hidden="true"></i>
                <span class="menu-text">我的业务</span>
                <i class="fa fa-angle-left menu-expand"></i>
            </a>


            <ul class="submenu">

                <li>
                    <a th:href="@{/MyLoan}">
                        <span class="menu-text">我的贷款申请</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/myContract}">
                        <span class="menu-text">我的合同</span>
                    </a>
                </li>

            </ul>


        </li>



        <li th:if="${session.role} == '0' ">
            <a th:href="@{/loanApplication}" class="menu-dropdown">
                <i class="fa fa-bed menu-icon" aria-hidden="true"></i>
                <span class="menu-text">申请贷款</span>
                <i class="fa fa-angle-left menu-expand"></i>
            </a>



        </li>


        <!--             用户界面结束   -->





        <!--Widgets-->
    </ul>
</div><!---page-sidebar--->



</html>

