body{
    color: #666;
}
.navbar-inner{
    background-color: #54a8f5;
    color: #fff;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-inner .navbar-brand,
.navbar-inner .navbar-brand:hover,
.navbar-inner .navbar-brand:focus,
.navbar-inner .navbar-nav>li>a,
.navbar-inner .navbar-nav>li>a:hover,
.navbar-inner .navbar-nav>li>a:focus{
    color: #fff;
}
.register-box{

}
.form-title {
    display: block;
    padding: 8px 0;
    margin-bottom: 15px;
    border-bottom: 1px dashed #ccc;
}
.form-horizontal .control-label{
    font-weight: 400;
}
.form-upload{
    position: relative;
    height: 100px !important;
    width: 100px;
    overflow: hidden;
}
.form-upload input,
.form-upload .upload-img{
    position: absolute;
    top: 0 ;
    left: 0;
    height: auto;
    width: 100%;
    cursor: pointer;
}
.form-upload input{
    z-index: 4;
    opacity: 0;
    height:320px\9;
    width:320px\9;
    right: 0;
    left: auto;
    /*filter:alpha(opacity=0);*/
}
.form-upload .upload-img{
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 9;
}
.form-upload-title{
    padding: 5px 0 0 0;
    margin-bottom: 0;
    color: #999;
    font-size: 13px;
}
textarea{
    resize: vertical;
}
.btn-primary{
    background-color: #54a8f5;
    border-color: #54a8f5;
}
.btn-primary:hover,
.btn-primary:focus{
    background-color: #3c97eb;
    border-color: #3c97eb;
}
@media (min-width: 768px) {
    .register-box{
        width: 60%;
        max-width: 900px;
        margin: 40px auto 0;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 8px #ccc;
    }
    .pull-left-lg{
        float: left;
    }
    .pull-right-lg{
        float: right;
    }
}
@media (max-width: 768px) {
    .form-upload,
    .form-upload-title{
        margin-left: 15px;
    }
    .register-box{
        padding: 10px 15px;
    }
}
.footer{
    margin-top: 30px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #eee;
    color: #777;
}