<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/head :: common_head(~{::title},~{})}">

    <title>index</title>

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="row">
            <div style=" position: relative;top: 17px">
                <div class="navbar-header col-md-4 ">
                    <a class="navbar-brand" href="#">农村小额贷款</a>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-3" style="left: 100px">
                <ul class="nav navbar-nav">
                    <li class="#"><a href="#">首页</a></li>
                    <li><a href="#myone">新闻</a></li>
                    <li><a href="#mytwo">产品</a></li>
                    <li><a href="#mythree">简介</a></li>

                </ul>
            </div>

            <div class="col-md-1" style="margin-top: 15px">

                <a th:href="@{/toLogin}" style="text-decoration: none">登陆</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top: -20px">
    <div class="row">
        <div id="myCarousel" class="carousel  col-md-12" data-ride="carousel">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner" style="height: 500px">
                <div class="item active" >
                    <img th:src="@{/resource/imagesMy/banner1.jpg}" alt="First slide" >
                </div>
                <div class="item">
                    <img th:src="@{/resource/imagesMy/banner2.jpg}" alt="Second slide" >
                </div>
                <div class="item">
                    <img th:src="@{/resource/imagesMy/banner3.jpg}" alt="Third slide" >
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel"
               data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
            <a class="carousel-control right" href="#myCarousel"
               data-slide="next">&rsaquo;</a>
        </div>
    </div>



    <div id="myone">
        <div class="row" style="height: 400px;" >

            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-4">
                        <div style="margin-top: 100px ;margin-left: 70px">
                            <div>
                                <h3>农村小额贷款再创历史新高!!!</h3>
                            </div>
                            <div style="font-size: 18px;font-family: 'Songti TC'">
                                1. 得益于A股市场异乎寻常的强劲表现，公募基金收益率在今年前三季度全面超过去年全年，<br>
                                2. 并创出历史最好水平。大多数可比的基金已经超过去年全年的收益率。指数基金表现抢眼，<br>
                                3. 百亿基金表现不俗，基金排名竞争在三季度异常激烈，最终有十四家基金公司整体业绩领先。<br>
                            </div>
                        </div>
                    </div>
                    <div  class="col-md-4 col-md-offset-1" style="width: 580px;height: 300px; top: 40px ;left: 200px">
                        <img th:src="@{/resource/imagesMy/bank7.jpg}" class="center-picture" style="margin-left: 10px ;width: 100%;height: 100%">
                    </div>

                </div>


            </div>


        </div>
    </div>









    <!--   用户贷款情况-->
        <div class="row" style="height: 700px">

        <div class="col-md-6" style="height: 600px;margin-left: -15px">
            <img th:src="@{/resource/imagesMy/bank12.jpg}" style="height: 100%;width: 100%">
        </div>
        <div class="col-md-6" style="left: 7%; top: 7%;">
            <div class="row">
                <h1>近四年用户贷款情况</h1>
            </div>

            <div class="row" style="margin-top: 10px">
                <p>市银行中存款情况分化</p>
                <p>而股份行和城商行存款占比较低</p>
                <p>大行负债中存款占比高</p>
                <p>若知今日空欢喜，昨日何不平常事</p>
                <p>预计将推升负债成本率高达35BP</p>
                <p>业绩或存在一定的不确定性</p>

            </div>

            <div class="row" style="width: 70%;margin-top: 10px">




                <h4 class="progress-wthree">2017</h4>
                <div class="progress" style="background-color: #0b141f;height: 5px">
                    <div class="progress-bar " role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>

                <h4 class="progress-wthree">2018 </h4>
                <div class="progress" style="background-color: #0b141f;height: 5px">
                    <div class="progress-bar " role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                    </div>
                </div>


                <h4 class="progress-wthree">2019 </h4>
                <div class="progress" style="background-color: #0b141f;height: 5px">
                    <div class="progress-bar " role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    </div>
                </div>


                <h4 class="progress-wthree">2020 </h4>
                <div class="progress" style="background-color: #0b141f;height: 5px">
                    <div class="progress-bar " role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                    </div>
                </div>






            </div>



        </div>
    </div>



         <div class="row" style="height: 700px">

        <div class="col-md-6" style="left: 7%; top: 7%;">
            <div class="row">
                <h1>近几年的金融情况</h1>
            </div>

            <div class="row" style="margin-top: 20px">
                <p style="font-size: 20px;">商业银行对非银债权从12年初的不到。</p>

                <p>借助通道扩张成为与信贷比肩的资产配</p>

                <p>从明天起，关心粮食和蔬菜</p>

                <p style="font-size: 20px;">在利差驱动之下，商业银行通过同业存款</p>

                <p style="font-size: 20px;">期限错配情况非常严重</p>

                <p>告诉他们
                <p style="font-size: 20px;">商业银行对非银</p>

                <p>借助通道扩张成为与信贷比肩的资产配置方式，</p>



                <p style="font-size: 20px;">在利差驱动之下，商业银行通过同业存款</p>

                <p style="font-size: 20px;">期限错配情况非常严重</p>

                <p>预计商业银行当前同业负债，处于历史高位</p>

                <p>尚未见到明显下降</p>

                <p>2020年金融去杠杆将进一步推进</p>

                <p>小部分银行面临较大负债压力</p>

                <p>加杠杆的成本有时或大幅高于债券票息本身</p>

                <p>同业负债成本显著上升</p>

                <p style="font-size: 20px;">相对同业负债优势开始凸显</p>

            </div>





        </div>

        <div class="col-md-6" style="height: 600px; left: 15px">
            <img th:src="@{/resource/imagesMy/bank13.png}" style="height: 100%;width: 100%">
        </div>

    </div>

    <div id="mytwo">
          <div class="row" style="height: 700px">

        <div class="col-md-12" style="left: 9%;margin-top: 7%">
            <div class="row" >

                    <div  class="col-md-4 col-md-offset-1" style="width: 470px;height: 580px">
                        <img th:src="@{/resource/imagesMy/bank2.jpg}" class="center-picture" style="margin-left: 10px ;width: 100%;height: 100%">
                    </div>

                    <div class="col-md-4" style="width: 470px;height: 580px">
                        <img th:src="@{/resource/imagesMy/bank3.jpg}" class="center-picture" style="margin-left: 10px ;width: 100%;height: 100%">
                    </div>

            </div>

            <div class="row" style="margin-top: 20px">

                <div  class="col-md-4 col-md-offset-1" style="width: 470px;height: 580px">
                    <img th:src="@{/resource/imagesMy/bank4.jpg}" class="center-picture" style="margin-left: 10px ;width: 100%;height: 100%">
                </div>

                <div class="col-md-4" style="width: 470px;height: 580px">
                    <img th:src="@{/resource/imagesMy/bank5.jpg}" class="center-picture" style="margin-left: 10px ;width: 100%;height: 100%">
                </div>


            </div>


        </div>
    </div>
    </div>


    <div id="mythree">
        <div class="row" style="height: 600px">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12" style="background-color: white">
                    <div style="margin-left: 300px">
                     <img th:src="@{/resource/imagesMy/bank14.png}">
                    </div>
                </div>
            </div>

            <div class="row" style="background-color: white; height: 150px;margin-bottom: 0px" >

                <div class="col-md-7" style="left: 30%;top: 50%">
                    <h4>Copyright © 2019.Company name All rights reserved 刘晨</h4>
                </div>





            </div>


        </div>

    </div>
    </div>

</div>


<div th:replace="~{commons/onLoanJs :: js}"></div>


<script>
    $(function () {
        // 初始化轮播
        $('#myCarousel').carousel('cycle')


    })


</script>


</body>
</html>