<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/head :: common_head(~{::title},~{})}">
    <title>首页</title>

</head>
<body>
<!--加载-->
<div th:replace="~{commons/page-top :: common_top_onLoad}"></div>

<!--  插入导航 -->
<div th:replace="~{commons/page-top :: common_top}"></div>

<!--主体-->
<div class="main-container container-fluid">
    <div class="page-container" style="">
<!--       公共片段的引入-->
        <div th:replace="~{commons/page-top :: common_side}"></div>

        <div class="page-wrapper">
            <div class="page-breadcrumbs">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="#">首页</a></li>
                </ol>
            </div>
            <div class="page-header position-relative">
                <div class="header-title title-h1">首页</div>
            </div>

            <div class="page-body">
                <!--列表--->
                <div class="row">

                    <!--          分为两种展示

                                  管理员：
                                        用折线图或者柱状图显示 这一年来贷款合同的变化（按照每个月）
                                  普通用户：
                                        用折线图或者柱状图显示 用户的信用分的变化情况


                    -->
                    <div class="col-log-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="databox">
                            <div class="data-left bg-orange">25%</div><!--
                            ---><div class="data-right">
                            <div class="databox-title text-orange">0</div>
                            <div class="databox-text">警告</div>
                            <div class="databox-icon text-orange"><i class="fa fa-exclamation-triangle"></i></div>
                        </div>
                        </div>
                    </div>
                    <div class="col-log-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="databox">
                            <div class="data-left bg-green">25%</div><!--
                            ---><div class="data-right">
                            <div class="databox-title text-green">4</div>
                            <div class="databox-text">邮件</div>
                            <div class="databox-icon text-green"><i class="fa fa-envelope-o"></i></div>
                        </div>
                        </div>
                    </div>
                    <div class="col-log-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="databox">
                            <div class="data-left bg-blue">25%</div><!--
                            ---><div class="data-right">
                            <div class="databox-title text-blue">10</div>
                            <div class="databox-text">通知</div>
                            <div class="databox-icon text-blue"><i class="fa fa-bell-o"></i></div>
                        </div>
                        </div>
                    </div>

                    <div class="col-log-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="databox">
                            <div class="data-left bg-mint">25%</div><!--
                            ---><div class="data-right">
                            <div class="databox-title text-mint">2</div>
                            <div class="databox-text">消息</div>
                            <div class="databox-icon text-mint"><i class="fa fa-commenting"></i></div>
                        </div>
                        </div>
                    </div>
                </div>
                <!--图表--->
                <div class="widget">
                    <div class="widget-header" >
                        <div class="widget-caption">月度报告</div>

                        <!---年份选择------>
                        <div class="ui-select-box" style=" margin-bottom: 15px">
                            <span>年份</span>
                            <select class="js-data-example-ajax4 " style="width: 200px"></select>
                        </div>


                    </div>
                    <div class="widget-body">
                        <p class="text-center widget-body-title">销售：2016年 -  2017年</p>
                        <canvas id="myChartLine" height="90"></canvas>
                    </div>
                </div>
            </div><!---page-body---->
        </div><!--page-wrapper--->
    </div>
</div>

<!--回到顶部--->
<a id="backTop">
    <i class="fa fa-angle-up"></i>
</a>


<!--设置--->



<div th:replace="~{commons/onLoanJs :: js}"></div>
</body>
</html>