<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <script></script>
    <base th:href="${#request.getContextPath()}+'/'">
    <style>
        .div{
            width: 30px;
            height: 40px;
            background-color: #0C0C0C;
        }
    </style>
</head>
<body>
    <div class="div"></div>
<!--    <iframe th:src="@{/test}"  frameborder="0" id="pdfContainer" name="pdfContainer" width="400px" height="600px"></iframe>-->
    <a onclick="a()">显示</a>
</body>
<script>
    function a() {
        alert("显示");
        window.location.href="test"
    }
</script>
</html>